
{% extends "base.html" %}
{% load static %}
{% block title %}Choose your Habit{% endblock %}
{% block content %}
    <div class="screen bg-gradient-to-b from-[#DD98B5] to-[#DED7DF] h-full ">
      <div class="inside-cont py-8 mx-10">
        <div class="categories">
          <div class="category flex flex-col justify-end items-center mb-4">
            <div class="title text-[#fec6ee] text-4xl text-bold mt-8 mb-3">
              Buffs
            </div>
            
            <div
              class="habits flex flex-col text-xl font-semibold justify-center items-center gap-3 w-[100%]"
            >{% for habit in habits %}
        {% if habit.habit_type == "Good" or habit.habit_type == "good"  %}
              <div
                class="habit text-[#C22165] bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#fec2e9] to-[#ff6263]"
              >
              <a href="/habit/{{habit.habit_id}}">{{habit.habit_name}}</a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="category flex flex-col justify-end items-center">
            <div class="title text-[#c22165] text-4xl text-bold mb-3">
              Debuffs
            </div>
            <div
              class="habits flex flex-col text-xl font-semibold justify-center items-center gap-3 text-[#FEC6EE] w-full"
            >
            {% for habit in habits %}
            {% if habit.habit_type == "Bad" or habit.habit_type == "bad"  %}
              <div
                class="habit bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#c32563] to-[#ce623c]"
              >
                <a href="/habit/{{habit.habit_id}}">{{habit.habit_name}}</a>
              </div> 
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="logout w-full flex items-center justify-starts mt-10">
          <a href="/"
            ><img src="{% static '/images/logout.png' %}" alt="logout" class="w-5"
          /></a>
        </div>
      </div>
    </div>
{% endblock content %}
