{% extends "base.html" %}
{% block content %}
  <div class="screen bg-gradient-to-t from-pink-300 to-white min-h-screen">
    <div class="flex flex-col items-center justify-center h-screen pb-[13%] gap-7">
      <div class="title text-[#c22165] text-5xl mb-4 font-bold text-center">
        Password Reset Complete
      </div>
      <div class="text-[#c22165] text-lg text-center">
        Your password has been set. You may go ahead and log in now.
      </div>
      <div class="back-to-login text-[#c22165] text-lg mt-6">
        <a href="/" class="underline font-bold">Login</a>
      </div>
    </div>
  </div>
{% endblock %}