{% extends "base.html" %}
{% block title %}Facing a problem?{% endblock %}
{% block content %}
{% load static %}
<div class="screen bg-gradient-to-t from-pink-300 to-white h-screen flex gap-10 flex-col items-center p-10 justify-start px-14">
              <div class="back-image text-4xl w-full flex items-center justify-between gap-8">
                <a href="{% url 'habits' %}">
                    <img class="w-3" src="{% static '/images/back.png' %}" alt="back-button" />
                </a>
                <div class="title text-[#c22165] text-4xl font-bold ">Facing a problem ?</div>
                <div class=""></div>
            </div>
 <div class="upper-buttons flex items-center justify-center gap-7 ">
    <div class="button bg-[#C22165] flex flex-col items-start rounded-md ">
        <a href="{% url 'habits' %} " class="text-xl font-bold flex-1 px-4 py-2"><img src="{% static '/images/recovery.svg' %}" class="w-10 h-10 flex-1" alt=""></a>
        <a href="{% url 'habits' %} " class="text-xl font-bold flex-1 px-4 w-40 ">Acc recovery</a>
    </div>
        <div class="button bg-[#C22165] flex flex-col items-start rounded-md  ">
        <a href="{% url 'habits' %} " class="text-xl font-bold flex-1 px-4 py-2"><img src="{% static '/images/security.svg' %}" class="w-10 h-10 flex-1"  alt=""></a>
        <a href="{% url 'habits' %} " class="text-xl font-bold flex-1 px-4 w-40">Security Alerts</a>
    </div>
 </div>
 <div class="buttons flex flex-col items-center justify-center w-full  ">
    <div class="but flex flex-row items-center  w-full border-b border-gray-300 py-3">
        <a class="text-[#C22165] text-2xl font-bold flex-1" href="{% url 'support' %}">Report</a>
        <a href="{% url 'support' %}"class="flex-" ><img src="{% static '/images/settings-access.svg' %}" alt=""></a>
    </div>
 </div>
</div>

{% endblock content %}
