{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
{% load static %}
<div class="screen bg-gradient-to-t from-pink-300 to-white min-h-screen flex gap-6 flex-col items-center p-10 justify-start px-16">
              <div class="back-image text-4xl w-full flex items-center justify-between ">
                <div class="">
                <a href="{% url 'habits' %}">
                    <img class="w-3" src="{% static '/images/back.png' %}" alt="back-button" />
                </a></div>
                <div class="title text-[#c22165] text-4xl font-bold ">Settings</div>
                <div></div>
            </div>
 <div class="buttons flex flex-col items-center justify-center w-full gap-4 ">
    <div class="but flex flex-row items-center  w-full border-b border-gray-200 py-3">
        <a class="text-[#C22165] text-2xl font-bold flex-1" href="{% url 'account' %}">Account</a>
        <a href="{% url 'account' %}"class="flex-" ><img src="{% static '/images/settings-access.svg' %}" alt=""></a>
    </div>
        <div class="but flex flex-row items-center  w-full border-b border-gray-200 py-3">
        <a class="text-[#C22165] text-2xl font-bold flex-1" href="{% url 'notifications' %}">Notifications</a>
        <a href="{% url 'notifications' %}"class="flex-" ><img src="{% static '/images/settings-access.svg' %}" alt=""></a>
    </div>
        <div class="but flex flex-row items-center  w-full border-b border-gray-200 py-3">
        <a class="text-[#C22165] text-2xl font-bold flex-1" href="{% url 'problem' %}">Report a problem</a>
        <a href="{% url 'problem' %}"class="flex-" ><img src="{% static '/images/settings-access.svg' %}" alt=""></a>
    </div>
        <div class="but flex flex-row items-center  w-full border-b border-gray-200 py-3">
        <a class="text-[#C22165] text-2xl font-bold flex-1" href="{% url 'support' %}">Help and support</a>
        <a href="{% url 'support' %}"class="flex-" ><img src="{% static '/images/settings-access.svg' %}" alt=""></a>
    </div>
 </div>
</div>

{% endblock content %}
