<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <style>
    body {
      font-family: "Crimson Text", serif;
    }
  </style>
  <body>
    <div class="screen bg-gradient-to-b from-[#DD98B5] to-[#DED7DF] h-max">
      <div class="inside-cont py-8 mx-10">
        <div class="categories">
          <div class="category flex flex-col justify-end items-center mb-4">
            <div class="title text-[#fec6ee] text-4xl text-bold mt-8 mb-3">
              Buffs
            </div>
            <div
              class="habits flex flex-col text-xl font-semibold justify-center items-center gap-3 w-[100%]"
            >
              <div
                class="habit text-[#C22165] bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#FEC6EE] to-[#F076CD]"
              >
                <a href="">Reading</a>
              </div>
              <div
                class="habit text-[#C22165] bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#fdc9ed] to-[#e4f6d2]"
              >
                <a href="">Savings</a>
              </div>
              <div
                class="habit text-[#C22165] bg-gradient-to-r w-[100%] text-center py-3 rounded-md from-[#f7c7ed] to-[#8fcade]"
              >
                <a href="">Gym</a>
              </div>
              <div
                class="habit text-[#C22165] bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#fdc4e8] to-[#e4aa81]"
              >
                <a href="">Nutrition</a>
              </div>
              <div
                class="habit text-[#C22165] bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#fec2e9] to-[#ff6263]"
              >
                <a href="">Breakfasting</a>
              </div>
            </div>
          </div>

          <div class="category flex flex-col justify-end items-center">
            <div class="title text-[#c22165] text-4xl text-bold mb-3">
              Debuffs
            </div>
            <div
              class="habits flex flex-col text-xl font-semibold justify-center items-center gap-3 text-[#FEC6EE] w-full"
            >
              <div
                class="habit bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#c32563] to-[#ce623c]"
              >
                <a href="smoking.html">Smoking</a>
              </div>
              <div
                class="habit bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#b92264] to-[#22264c]"
              >
                <a href="">Underslept</a>
              </div>
              <div
                class="habit bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#bf2164] to-[#291f23]"
              >
                <a href="">Alcohol</a>
              </div>
              <div
                class="habit bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#bf205c] to-[#bf205c]"
              >
                <a href="">Overeating</a>
              </div>
              <div
                class="habit bg-gradient-to-r py-3 w-[100%] text-center rounded-md from-[#ba2764] to-[#317c58]"
              >
                <a href="">Procrastination</a>
              </div>
            </div>
          </div>
        </div>
        <div class="logout w-full flex items-center justify-start mt-16">
          <a href="habit.html"
            ><img src="logout.png" alt="logout" class="w-10"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
